@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #757575;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fullwidth {
  width: 100%;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.display-block {
  display: block;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  min-width: 320px;
}
.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.toppadding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .toppadding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: 0;
  border-radius: 4px;
  color: #2196F3;
  background-color: #F5F4FA;
  cursor: pointer;
  transition: makeTransition(background-color, color, box-shadow);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}
.button--footer {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo__web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo__studio {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-title {
  display: none;
}

.increase {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 1.1;
}
@media screen and (min-width: 1200px) {
  .increase {
    font-size: 36px;
    line-height: 1.2;
  }
}

.footer__item, .footer__link, .footer {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.71;
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 15px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    min-height: 80px;
  }
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 93px;
  }
}
.header__item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__item {
    position: relative;
  }
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__item-adress:nth-child(n+2) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item-adress {
    display: flex;
  }
  .header__item-adress:not(:last-child) {
    margin-right: 30px;
  }
}
.header__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .header__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
  }
}
.header__link--current, .header__link:hover, .header__link:focus {
  color: #2196F3;
  fill: currentColor;
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    justify-content: space-between;
  }
}
.header__contacting {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 767px) {
  .header__contacting {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacting {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacting {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__link--tel {
  font-size: 34px;
  color: #2196F3;
}
.header__link--mail {
  font-size: 24px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .header__link--adress {
    font-size: 12px;
    color: #757575;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__link--adress {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link--adress {
    font-size: 14px;
  }
}
.header__contact-icon {
  display: none;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .header__contact-icon {
    display: block;
  }
}
.header__social-linkbox {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__social-linkbox {
    display: none;
  }
}
.header__social-linkbox:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-linkitems:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-linkitems:not(:last-child) .header__social-link {
  padding-right: 10px;
}
.header__social-linkitems:nth-child(n+2) .header__social-link {
  padding-left: 10px;
}
.header__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header__icon-close {
  opacity: 0;
}
.header__icon-open, .header__icon-close {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button.is-open .header__icon-close {
  opacity: 1;
}
.header__button.is-open .header__icon-open {
  opacity: 0;
}

.menu-container {
  display: flex;
}
.menu-container:hover .header__icon--current, .menu-container:focus .header__icon--current {
  fill: #2196F3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__box {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .header__box.is-open {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 3;
  }
  .header__box.is-open .header__button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .header__box.is-open .header__menu {
    display: block;
  }
  .header__box.is-open .header__contacts {
    display: block;
  }
  .header__box.is-open .header__logo {
    display: none;
  }
}

.hero {
  min-height: 400px;
  /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
  /* Кнопка */
}
@media screen and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-2x.jpg");
  }
}
.hero__title {
  color: #FFFFFF;
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features__block {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 89px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.features__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__svg-icons {
  width: 70px;
  height: 70px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ - ФОТО ПЛЮС ТЕКСТ  */
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: flex;
}
.work__img:not(:last-child) {
  margin-right: 30px;
}
.work__link {
  display: block;
  position: relative;
}
.work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
.team__title {
  margin-bottom: 30px;
}
@media only screen and (min-width: 480px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767.98px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
  .team__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.team-photobox {
  padding-bottom: 24px;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 1200px) {
  .team-photobox {
    padding-bottom: 30px;
  }
}
.team-photobox__worker {
  margin-top: 30px;
  font-weight: 500;
  font-size: inherit;
  color: #212121;
}
.team-photobox__position {
  margin-top: 10px;
  color: #757575;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socials__icon {
  display: block;
  width: 20px;
  height: 20px;
}
.socials__link {
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__box:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  fill: #AFB1B8;
  background-color: #FFFFFF;
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
  fill: #FFFFFF;
}

.clients {
  text-align: center;
}
.clients__title {
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.clients__icons {
  height: 92px;
}
@media only screen and (max-width: 767.98px) {
  .clients__icons {
    width: calc((100% - 30px) / 2);
  }
  .clients__icons:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__icons {
    width: calc((100% - 60px) / 3);
  }
  .clients__icons:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .clients__icons {
    width: calc((100% - 150px) / 6);
  }
  .clients__icons:not(:nth-child(6n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+6)) {
    margin-bottom: 30px;
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.clients__names {
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2F303A;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__box {
  align-items: baseline;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    justify-content: flex-start;
    text-align: left;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.footer__logo--white {
  color: #FFFFFF;
}
.footer__address {
  font-style: normal;
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link-adr {
  color: rgba(255, 255, 255, 0.6);
}
.footer__main, .footer__join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__main, .footer__join {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__main, .footer__join {
    width: 25%;
    margin-bottom: 0;
  }
}
.footer__list-links {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__list-links {
    justify-content: flex-start;
  }
}
.footer__adress .footer__link:hover, .footer__adress .footer__link:focus, .footer__link-adr:hover, .footer__link-adr:focus {
  color: #2196F3;
}
.footer__link-adr {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.signup {
  display: block;
}
@media screen and (min-width: 768px) {
  .signup {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signup {
    width: 50%;
  }
}
.signup__text {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .signup__form {
    display: flex;
  }
}
.signup__email {
  display: block;
  width: 100%;
  height: 50px;
  min-width: 150px;
  max-width: 450px;
  padding: 15px 16px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: currentColor;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .signup__email {
    margin-right: 12px;
  }
}
.signup__button {
  min-width: 200px;
  padding: 10px 28px;
  height: 50px;
}
.signup__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
}

.join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .join {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    width: 25%;
    margin-bottom: 0;
  }
}
.join__item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .join__list {
    justify-content: flex-start;
  }
}
.join__socials:not(:last-child) {
  margin-right: 10px;
}
.join__link {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__icon {
  fill: #FFFFFF;
}
.join__link:hover, .join__link:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.modalwindow {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  width: 100%;
  height: 609px;
  padding: 40px;
  color: #757575;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    min-width: 450px;
    width: 33.3333333333%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    width: 33.3333333333%;
    min-height: 581px;
  }
}
.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 16px;
  width: 30px;
  height: 30px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
}
.modal__icon {
  display: block;
  width: 18px;
  height: 18px;
}

.feedback__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
}
@media only screen and (max-width: 1199.98px) {
  .feedback__title {
    line-height: 1.5;
  }
}
.feedback__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
.feedback__field--policy:focus {
  outline: 1px solid #2196F3;
}
.feedback__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}
.feedback__wrap {
  position: relative;
}
.feedback__input {
  width: 100%;
  height: 40px;
  color: inherit;
  padding: 8px 8px 8px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.feedback__input:focus, .feedback__input:hover {
  border-color: #2196F3;
}
.feedback__input--placeholder {
  display: block;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}
.feedback__input--margin {
  margin-bottom: 20px;
}
.feedback__input:focus + .feedback__icon, .feedback__input:hover + .feedback__icon {
  fill: #2196F3;
}
.feedback__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  height: 18px;
  width: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__iconpolicy {
  position: relative;
}
.feedback__check-icon {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  fill: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__input:checked + .feedback__check-icon {
  fill: #FFFFFF;
  background-color: #2196F3;
  border-color: #2196F3;
  border-width: 1px;
}
.feedback__policy-link {
  text-decoration: underline;
  color: #2196F3;
}
.feedback__submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.feedback__submit:hover, .feedback__submit:focus {
  background-color: #188ce8;
}

.feedback__field-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 30px;
  font-size: 12px;
}

.portfolio__btnlist {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) {
  .portfolio__btnlist {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .portfolio__btnlist {
    margin-bottom: 50px;
  }
}
.portfolio__item {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) {
  .portfolio__item {
    margin-bottom: 0;
  }
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__btn {
  padding: 6px 22px;
  color: #212121;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__btn--primary {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) {
  .cases {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media only screen and (max-width: 767.98px) {
  .cases__items:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .cases__items {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .cases__items {
    width: calc((100% - 90px) / 3);
  }
}
.cases__thumb {
  position: relative;
  overflow: hidden;
}
.cases__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #2196F3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cases__items {
  color: inherit;
}
.cases__items:hover, .cases__items:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cases__link:hover .cases__overlay, .cases__link:focus .cases__overlay {
  transform: translateY(0%);
}
.cases__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.cases__text {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}
.cases__block {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.clients {
  text-align: center;
}
.clients__title {
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.clients__icons {
  height: 92px;
}
@media only screen and (max-width: 767.98px) {
  .clients__icons {
    width: calc((100% - 30px) / 2);
  }
  .clients__icons:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__icons {
    width: calc((100% - 60px) / 3);
  }
  .clients__icons:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .clients__icons {
    width: calc((100% - 150px) / 6);
  }
  .clients__icons:not(:nth-child(6n)) {
    margin-right: 30px;
  }
  .clients__icons:not(:nth-last-child(-n+6)) {
    margin-bottom: 30px;
  }
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  fill: #2196F3;
  border-color: #2196F3;
}
.clients__names {
  width: 106px;
  height: 60px;
}/*# sourceMappingURL=main.css.map */