@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--hero);
  color: var(--text-color);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.no-mark {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.display-block {
  display: block;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  min-width: 320px;
}
.section__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__header {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.section--vert-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section--vert-padding {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo__web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo__studio {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.invisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-title {
  display: none;
}

.increase {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 1.1;
}
@media screen and (min-width: 1200px) {
  .increase {
    font-size: 36px;
    line-height: 1.2;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  right: 10px;
  top: 15px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__nav {
    min-height: 80px;
  }
}
.header__menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    margin-left: 93px;
  }
}
.header__item {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__item {
    position: relative;
  }
  .header__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__item-adress:nth-child(n+2) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__item-adress {
    display: flex;
  }
  .header__item-adress:not(:last-child) {
    margin-right: 30px;
  }
}
.header__link {
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__link {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .header__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
  }
}
.header__link--current, .header__link:hover, .header__link:focus {
  color: #2196F3;
  fill: currentColor;
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    justify-content: space-between;
  }
}
.header__contacting {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 767px) {
  .header__contacting {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header__contacting {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacting {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.header__link--tel {
  font-size: 34px;
  color: #2196F3;
}
.header__link--mail {
  font-size: 24px;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .header__link--adress {
    font-size: 12px;
    color: #757575;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__link--adress {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link--adress {
    font-size: 14px;
  }
}
.header__contact-icon {
  display: none;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .header__contact-icon {
    display: block;
  }
}
.header__social-linkbox {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__social-linkbox {
    display: none;
  }
}
.header__social-linkbox:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-linkitems:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header__social-linkitems:not(:last-child) .header__social-link {
  padding-right: 10px;
}
.header__social-linkitems:nth-child(n+2) .header__social-link {
  padding-left: 10px;
}
.header__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.header__icon-close {
  opacity: 0;
}
.header__icon-open, .header__icon-close {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__button.is-open .header__icon-close {
  opacity: 1;
}
.header__button.is-open .header__icon-open {
  opacity: 0;
}

.menu-container {
  display: flex;
}

.header__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header__box {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .header__box.is-open {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 999;
  }
  .header__box.is-open .header__button {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .header__box.is-open .header__menu {
    display: block;
  }
  .header__box.is-open .header__contacts {
    display: block;
  }
  .header__box.is-open .header__logo {
    display: none;
  }
}

.hero {
  height: 400px;
  /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* Кнопка */
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: calc(100vh - 80px);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-2x.jpg");
  }
}
.hero__title {
  color: #FFFFFF;
  margin: 0 auto 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px solid transparent;
}

.features {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .features__block {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 89px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.features__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__svg-icons {
  width: 70px;
  height: 70px;
}
.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ЧЕМ МЫ ЗАНИМАЕМСЯ - ФОТО ПЛЮС ТЕКСТ  */
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__list {
  display: flex;
}
.work__img:not(:last-child) {
  margin-right: 30px;
}
.work__link {
  display: block;
  position: relative;
}
.work__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: flex;
  background-color: var(--button-bcg);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  align-items: center;
}
.team__item {
  margin-right: 30px;
  background-color: var(--hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__photo {
  display: block;
  margin-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}
.team__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  font-weight: 400;
}
.team__worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--primary-text-color);
}

.socials {
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
}
.socials__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}
.socials__box:not(:last-child) {
  margin-right: 10px;
}
.socials__icon {
  fill: var(--color-border-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--text-link);
}
.socials .socials__link:hover .socials__icon,
.socials .socials__link:focus .socials__icon {
  fill: var(--hero);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
}
.clients__icons {
  width: 170px;
  height: 92px;
}
.clients__icons:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  display: flex;
  width: 70px;
  height: 70px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border-icon);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--text-link);
}
.clients__names {
  fill: var(--color-border-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__names,
.clients__link:focus .clients__names {
  fill: var(--text-link);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: var(--bacground-color-hero);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer__box {
  display: flex;
  align-items: baseline;
}
.footer__main {
  margin-right: 70px;
}
.footer__logo {
  display: inline-flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* margin-bottom: 20px; */
  text-decoration: none;
}
.footer__logo--white {
  color: var(--hero);
}
.footer__adress {
  display: flex;
  margin-top: 20px;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__item--adr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  justify-content: space-between;
  color: var(--hero);
  text-decoration: none;
}
.footer__item--link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
.footer__item--link:hover, .footer__item--link:focus {
  color: var(--text-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join {
  margin-right: 93px;
}
.join__item {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hero);
}
.join__list {
  display: flex;
}
.join__socials:not(:last-child) {
  margin-right: 10px;
}
.join__link {
  display: inline-block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__icon {
  fill: var(--hero);
}
.join__link:hover, .join__link:focus {
  background-color: var(--text-link);
  border-radius: 50%;
}

.signup {
  display: block;
}
.signup__text {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero);
}
.signup__box {
  display: flex;
}
.signup__input {
  display: block;
  width: 358px;
  margin-left: auto;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bacground-color-hero);
  color: rgba(255, 255, 255, 0.6);
}
.signup__button {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--text-link);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: var(--text-link);
  cursor: pointer;
  border: none;
}
.signup__signature {
  display: flex;
  margin-right: 10px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--hero);
}
.signup__icon {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--hero);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--hero);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover {
  fill: var(--text-link);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.feedback__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feedback__form {
  display: flex;
  flex-direction: column;
}
.feedback__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.feedback__field--comment {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__field--policy {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
}
.feedback__field--policy::before {
  content: "";
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  /* opacity: 1; */
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}
.feedback__field:hover .feedback__field--accent, .feedback__field:focus .feedback__field--accent {
  fill: var(--text-link);
}
.feedback__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.feedback__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--logo-studio);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__input {
  margin: 0;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__input:hover, .feedback__input:focus {
  border-color: var(--text-link);
}
.feedback__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__text:hover, .feedback__text:focus {
  border-color: var(--text-link);
}
.feedback__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.feedback__iconpolicy {
  display: flex;
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
}
.feedback:checked + .feedback__iconpolicy + .feedback__icon {
  opacity: 1;
  border-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__submit {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--text-link);
  color: var(--hero);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback__submit:active, .feedback__submit:hover {
  background-color: var(--button-hover);
}

.checkbox__icon {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 2px;
  fill: var(--hero);
  background-color: var(--text-link);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.checkbox__input:checked + .feedback__iconpolicy > .checkbox__icon {
  opacity: 1;
  border-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  display: unset;
}

.feedback__checkbox:checked + .feedback__iconpolicy > .check-icon {
  opacity: 1;
  border-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__checkbox:checked + .check-icon {
  display: unset;
}

.policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.policy-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--text-link);
}

.portfolio {
  display: flex;
  background-color: var(--hero);
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__btnlist {
  display: flex;
  margin-bottom: 50px;
  border: transparent;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.portfolio__item {
  display: inline-flex;
  margin-right: 8px;
}
.portfolio__item:last-child {
  margin-right: 0;
}
.portfolio__btn {
  font-family: inherit;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-bcg);
  color: var(--primary-text-color);
  border: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--text-link);
  color: var(--hero);
  box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cases {
  display: flex;
  flex-wrap: wrap;
}
.cases__items {
  margin-right: 30px;
  margin-bottom: 30px;
  background: #FFFFFF;
}
.cases__items:hover .cases__overlay {
  transform: translateY(0);
}
.cases__items:nth-child(3n) {
  margin-right: 0;
}
.cases__items:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.cases__link {
  display: block;
  text-decoration: none;
}
.cases__link:hover, .cases__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cases__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.cases__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--hero);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cases__img {
  display: block;
}
.cases__block {
  padding: 20px 0;
  border-top: none;
  border: 1px solid #EEEEEE;
}
.cases__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-right: 24px;
  padding-left: 24px;
  text-decoration: none;
  color: var(--primary-text-color);
}
.cases__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
  color: var(--text-color);
}/*# sourceMappingURL=main.css.map */