.footer {
    background-color: $bacground-color-hero;
    padding-bottom: 60px;
    padding-top: 60px;

    @extend %footer-fonts;

     &__box {
    align-items: baseline;
    text-align: center;
    justify-content: center;
 

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      text-align: left;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
    color: $hero;
  }

  &__logo--white {
    color: $hero;
  }

  &__address {
    font-style: normal;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__link {
    @extend %footer-fonts;
    @include transition-color;
  }

 &__link-adr {
    color: rgba(255, 255, 255, 0.6);;
 }
 

  &__main,
  &__join {
    margin-bottom: 60px;

   @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 1200px) {
      width: 25%;
      margin-bottom: 0;
    }
  }

  &__item {
     @extend %footer-fonts;
  }

  &__list-links {
    margin-top: 20px;
    @media screen and (min-width: 1200px) {
      // display: flex;
      justify-content: flex-start;
    }
  }



  &__adress .footer__link:hover,
  &__adress .footer__link:focus,
  &__link-adr:hover,
  &__link-adr:focus {
    color: $text-link;
  }

  &__link-adr {
    @include transition-color;
  }
}
  .signup {
    display: block;
    @include breakpointFrom(tablet) {
      // @media screen and (min-width: 768px) {
      width: 450px;
    }
    @include breakpointFrom(desktop) {
      // @media screen and (min-width: 1200px) {
      width: 50%;
    }
  &__text {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  &__form {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__email {
    display: block;
    width: 100%;
    height: 50px;
    min-width: 150px;
    padding: 15px 16px;
    margin-bottom: 20px;
    color: currentColor;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    @media screen and (min-width: 1200px) {
      margin-right: 12px;
    }
  }

  &__button {
    min-width: 200px;
    padding: 10px 28px;
    height: 50px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;
    fill: currentColor;
  }

  }

