
.hero {
 min-height: 400px; /* calc(100vh - 80px) */
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;

  background-color: $background-hero;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: ('../images/hero/hero-mobile.jpg');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25),
   );

    // width: 100%;
  @media screen and (max-width: 479px) {
   background-image: linear-gradient($background-overlay, $background-overlay),
    url('../images/hero/hero-mobile.jpg');
    width: 100%;
    
  }
  @media screen and (min-width: 480px) {
   background-image: linear-gradient($background-overlay, $background-overlay),
    url('../images/hero/hero-mobile.jpg');
    
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient($background-overlay, $background-overlay),
    url('../images/hero/hero-mobile-2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url('../images/hero/hero-tablet.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient($background-overlay, $background-overlay),
    url('../images/hero/hero-tablet-2x.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    height: calc(100vh - 80px);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-desktop.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient($background-overlay, $background-overlay),
        url('../images/hero/hero-desktop-2x.jpg');
    }
  }

&__title {
    color: $hero;
     margin: 0 auto 30px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // line-height: 1.36; desktop
    
}

/* Кнопка */
&__button {
    font-family: inherit;
    color: $hero;
    background-color: $text-link;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    @include transition-color;
    @include transition-bcgcolor;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    cursor: pointer;
    border: 1px solid transparent;

}
}