.modalwindow {
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: makeTransition((opacity visibility));
  z-index: 1;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding: 40px;
  color: $text-color;
  background-color: $hero;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: makeTransition((opacity transform));

    @media screen and (min-width: 1200px) {
    min-width: 528px;
    width: calc(100% / 3);
  }


  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 16px;
    width: 30px;
    height: 30px;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: makeTransition((fill));
  }

  &__button:hover,
  &__button:focus {
    fill: $text-link;
  }

  &__icon {
    display: block;
    width: 18px;
    height: 18px;
  }
}



.request-form {
  &__agreement-link {
    text-decoration: underline;
    color: $text-link;
  }

  &__submit {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    transition: makeTransition((background-color));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      background-color: $button-hover;
    }
  }
}


