.team {
  background-color: $background-team;
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;
  }
  @include breakpointFrom(tablet) {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    @include breakpointTo(tablet) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @include breakpointFrom(tablet) {
      width: calc((100% - 30px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }

      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }

    @include breakpointFrom(desktop) {
      width: calc((100% - 30px * 3) / 4);
      &:not(:nth-child(4n)) {
        margin-right: 30px;
      }
    }
  }
}

.team-photobox {
  padding-bottom: 24px;
  background-color: $hero;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include breakpointFrom(desktop) {
    padding-bottom: 30px;
  }

  &__worker {
    margin-top: 30px;
    font-weight: 500;
    font-size: inherit;
    color: $primary-text-color;
  }

  &__position {
    margin-top: 10px;
    color: $text-color;
  }
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__icon {
    display: block;
    width: 20px;
    height: 20px;
  }

  &__link {
    display: block;
    padding: 12px;
    border-radius: 50%;
    transition: makeTransition((background-color fill));
  }

  &__box:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    fill: $color-border-icon;
    background-color: $hero;

    &:hover,
    &:focus{
      background-color: $text-link;
      fill: $hero;
    }
  }
}


